.error {
    text-align: center;
}

.jumbotron {
  color: white;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../pictures/homepage.jpeg);
  background-position: left center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.jumbotron-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.navbar-toggler span {
  display: block;
  background-color: #fff;
  height: 3px;
  width: 25px;
  margin-top: 4px;
  margin-bottom: 4px;
  transform: rotate(0deg);
  left: 0;
  opacity: 1;
}

.navbar-b.navbar-trans .nav-link, .navbar-b.navbar-reduce .nav-link {
  color: #fff;
}

.navbar-b .navbar-brand {
  color: #fff;
}
html {
  scroll-behavior: smooth;
}

.down-button {
  color: white;
}

.down-button:hover {
  color: white;
}