.error {
    text-align: center;
}

.jumbotron {
  color: white;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../pictures/homepage.jpeg);
  background-position: left center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.jumbotron-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.navbar-toggler span {
  display: block;
  background-color: #fff;
  height: 3px;
  width: 25px;
  margin-top: 4px;
  margin-bottom: 4px;
  transform: rotate(0deg);
  left: 0;
  opacity: 1;
}

.navbar-b.navbar-trans .nav-link, .navbar-b.navbar-reduce .nav-link {
  color: #fff;
}

.navbar-b .navbar-brand {
  color: #fff;
}

a:link {
  color: black;
}

a:visited {
  color: black;
}

a:hover {
  color: grey;
}

a:active {
  color:black;
}

.down-button {
  color: white !important;
}

.down-button:hover {
  color: white !important;
}

.resume-education {
  padding: 0 0 20px 20px;
  margin-top: -2px;
  border-left: 2px solid #82909c;
  position: relative;
}

.resume-education::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50px;
  left: -9px;
  top: 0;
  background: #82909c;
  border: 2px solid #82909c;
}

.resume-work {
  padding: 0 0 20px 20px;
  margin-top: -2px;
  border-left: 2px solid #ac4313;
  position: relative;
}

.resume-work::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50px;
  left: -9px;
  top: 0;
  background: #ac4313;
  border: 2px solid #ac4313;
}

.resume-org {
  padding: 0 0 20px 20px;
  margin-top: -2px;
  border-left: 2px solid #1f73bd;
  position: relative;
}

.resume-org::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50px;
  left: -9px;
  top: 0;
  background: #1f73bd;
  border: 2px solid #1f73bd;
}

.resume-summary {
  margin-left: 20px;
  font-size: large;
}

.resume-work h5 {
margin-bottom: 1px;
}

.resume-education h5 {
margin-bottom: 1px;
}

.resume-org h5 {
  margin-bottom: 1px;
}

footer {
  text-align: center;
}

.navbar-expand-md.scrolled {
  background-color: white !important;
  transition: background-color 200ms linear;
  border: solid;
  border-width: 2px;
  border-color: transparent;
  border-bottom-color: black !important;
}

.navbar-expand-md.scrolled .nav-link {
  color: black;
}

.navbar-brand.scrolled {
  color: black;
}

.navbar-toggler.scrolled span{
  display: block;
  background-color: black;
  height: 3px;
  width: 25px;
  margin-top: 4px;
  margin-bottom: 4px;
  transform: rotate(0deg);
  left: 0;
  opacity: 1;
}

.social-media {
  display: flex;
  justify-content: space-between;
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 40px;
}